# OS
.DS_Store
Thumbs.db

# Virtual Env
venv/
env/

# Compiled Files
__pycache__/
*.py[cod]

# libs and packets
node_modules/

# Игнорирование IDE
.idea
.vscode

# other files
Alcatel Link Name.xlsx
output.xlsx
Ready NR Report.xlsx
Book1.xlsx
addnr.py
testNR.py
History_Performance_Data_2024-09-26_14-44-13.xlsx
My RTN Far-End(Sink, Suhrob).xlsx
Ready MSS Report.xlsx
testRTN.py